<?php
$db_config['database']='ulfs';
$db_config['user']='ulfs';
$db_config['password']='secret';
$db_config['server']='127.0.0.1';

$config['packages_url']="https://umvirt.com/linux/packages/";
$config['assistant_url']="https://umvirt.com/linux/assistant/";

